.clock {
    margin: 0 auto;
    width: 200px;
    height: 200px;
    background-image: url(../assets/clock.png);
    background-size: 100%;
    margin-top: 50px;
    position: relative;
}
.clock img {
    position: absolute;
    left: 75px
}